openapi: "3.0.3"
info:
  title: Eternum Explorer MCP Server
  description: MCP server for discovering and querying Eternum game worlds via natural language.
  version: "0.2.1"
servers:
  - url: https://asktorii.com
paths:
  /mcp:
    post:
      operationId: mcpPost
      summary: MCP JSON-RPC endpoint
      description: Accepts MCP protocol messages (JSON-RPC 2.0) for tool discovery and execution.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
      responses:
        "200":
          description: Successful JSON-RPC response
          content:
            application/json:
              schema:
                type: object
    get:
      operationId: mcpGet
      summary: Method not allowed
      description: Returns 405. MCP requests must use POST.
      responses:
        "405":
          description: Method Not Allowed
    delete:
      operationId: mcpDelete
      summary: Method not allowed
      description: Returns 405. MCP requests must use POST.
      responses:
        "405":
          description: Method Not Allowed
  /.well-known/oauth-authorization-server:
    get:
      operationId: oauthDiscovery
      summary: OAuth 2.0 authorization server metadata
      description: MCP clients probe this for OAuth discovery (RFC 8414). Returns 404 when auth is not configured.
      responses:
        "404":
          description: Not found
  /.well-known/openid-configuration:
    get:
      operationId: oidcDiscovery
      summary: OpenID Connect discovery
      description: MCP clients probe this as OAuth discovery fallback. Returns 404 when auth is not configured.
      responses:
        "404":
          description: Not found
  /register:
    post:
      operationId: dynamicClientRegistration
      summary: OAuth dynamic client registration
      description: MCP clients may attempt dynamic client registration (RFC 7591). Returns 404 when auth is not configured.
      requestBody:
        content:
          application/json:
            schema:
              type: object
      responses:
        "404":
          description: Not found
