openapi: "3.0.3"
info:
  title: Data Explorer MCP Server
  description: MCP (Model Context Protocol) server for querying Torii databases via natural language.
  version: "0.1.0"
servers:
  - url: https://asktorii.com
paths:
  /mcp:
    post:
      operationId: mcpPost
      summary: MCP JSON-RPC endpoint
      description: Accepts MCP protocol messages (JSON-RPC 2.0) for tool discovery and execution.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - jsonrpc
                - method
              properties:
                jsonrpc:
                  type: string
                  enum:
                    - "2.0"
                id:
                  type: string
                method:
                  type: string
                params:
                  type: object
      responses:
        "200":
          description: Successful JSON-RPC response
          content:
            application/json:
              schema:
                type: object
    get:
      operationId: mcpGet
      summary: Method not allowed
      description: Returns 405. MCP requests must use POST.
      responses:
        "405":
          description: Method Not Allowed
    delete:
      operationId: mcpDelete
      summary: Method not allowed
      description: Returns 405. MCP requests must use POST.
      responses:
        "405":
          description: Method Not Allowed
  /.well-known/oauth-authorization-server:
    get:
      operationId: oauthDiscovery
      summary: OAuth authorization server metadata
      description: MCP clients check this endpoint for auth requirements. Returns 404 (no auth required).
      responses:
        "404":
          description: Not found (no auth required)
